#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.posterWrapper {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 1rem;
}

.leftLogo {
  width: 80px;
  height: 55px;
}

.rightLogo {
  width: 180px;
  height: 55px;
}

.content {
  color: white;
  text-align: center;
  width: 100%;
}

.content img {
  width: 100%;
}
.footer {
  margin-top: 2rem;
}
.footer img {
  width: 50%;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Fade-out animation */
.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

/* Keyframes for fade-out */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Keyframes for fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Small Phones (≤ 320px - iPhone SE, old devices) */
@media (max-width: 320px) {
  .content img {
    width: 80%;
  }
}

/* Medium Phones (≤ 375px - iPhone 12, 13, 14, Pixel 5) */
@media (max-width: 375px) {
  .content img {
    width: 90%;
  }
}

/* Large Phones (≤ 414px - iPhone 12 Pro Max) */
@media (max-width: 414px) {
  .content img {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .posterWrapper {
    max-width: 375px;
    position: relative;
  }
}
